.feature-products {
    .row {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 30px;

        .info {
            margin-left: 20px;
            position: relative;
            h2 {
                margin-bottom: 15.17px;
                font-size: 3.1rem;
                font-weight: 800;
            }
            p {
                max-width: 60%;
                font-size: 1.3rem;
                line-height: 1.43;
            }
            svg {
                width: 162.5px;
                position: absolute;
                z-index: -1;
                top: -33px;
                left: -52px;
            }
        }

        .image {
            img {
                width: 503.333px;
                border-radius: 6.667px;
            }
        }
    }
}

@media screen and (max-width: 1199.98px) {
    .feature-products {
        .row {
            justify-content: center;
            .info {
                text-align: center;
                p {
                    margin: 0 auto;
                    max-width: 70%;
                    text-align: justify;
                }
                svg {
                    display: none;
                }
            }
            .image {
                max-width: 90%;
                margin: 20px auto 0;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 991.98px) {
    .feature-products {
        .row {
            .info {
                h2 {
                    br {
                        display: none;
                    }
                }
                p {
                    max-width: 90%;
                }
            }
        }
    }
}
