@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  color: #2c2c2c;
  line-height: 1.25;
  font-size: 1.6rem;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}
a:hover {
  color: #46b20f;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2c2c2c;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

@media screen and (min-width: 576px) {
  .d-sm-none {
    display: none;
  }
  .d-sm-block {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .d-md-none {
    display: none;
  }
  .d-md-block {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .d-lg-none {
    display: none;
  }
  .d-lg-block {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .d-xl-none {
    display: none;
  }
  .d-xl-block {
    display: block;
  }
}
@media screen and (min-width: 1400px) {
  .d-xxl-none {
    display: none;
  }
  .d-xxl-block {
    display: block;
  }
}
.container {
  --container-width: 1200px;
}

.btn {
  color: #fff;
  padding: 13.333px 11.667px;
  border-radius: 6.667px;
  font-weight: 700;
  display: inline-block;
}
.btn.btn-primary {
  background: #46b20f;
}
.btn.btn-primary:hover {
  background: #ff6916;
}
.btn.btn-outline-primary {
  color: #2c2c2c;
  padding: 11.667px 21.667px;
  border: 1px solid #46b20f;
}
.btn.btn-outline-primary:hover {
  background: #46b20f;
}
.btn.btn-outline-primary:hover svg path {
  fill: #fff;
}
.btn:hover {
  color: #fff;
}

.header {
  padding: 10px 0;
  box-shadow: 0px 1.667px 8.333px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 2;
}
.header .logo {
  height: 99px;
  overflow: hidden;
}
.header .header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .header-nav .menu > ul {
  display: flex;
}
.header .header-nav .menu > ul > li {
  padding: 0 25px;
}
.header .header-nav .menu > ul > li > a {
  font-weight: 600;
}
.header .header-nav .menu > ul > li.active > a, .header .header-nav .menu > ul > li:hover > a {
  color: #46b20f;
  padding-bottom: 50px;
  border-bottom: 1.667px solid #46b20f;
}
.header .header-nav .menu-overlay {
  opacity: 0;
  visibility: hidden;
}
.header .header-nav .cart-icon {
  padding: 0 25px;
}
.header .header-nav .cart-icon a {
  display: block;
  position: relative;
}
.header .header-nav .cart-icon a span {
  font-size: 1.2rem;
  color: #fff;
  background-color: #ff6916;
  padding: 1px 4px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
}
.header .header-nav .search-icon {
  padding-left: 25px;
}

@media screen and (max-width: 991.98px) {
  .header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header .menu-toggle {
    margin-left: 20px;
    font-size: 3rem;
  }
  .header .header-nav {
    margin-right: 20px;
  }
  .header .header-nav .menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    background: #46b20f;
    min-width: 250px;
    padding: 15px 0;
    translate: -100%;
    transition: translate 0.4s ease-in-out;
  }
  .header .header-nav .menu ul {
    display: block;
  }
  .header .header-nav .menu ul li {
    padding: 0;
  }
  .header .header-nav .menu ul li.active > a, .header .header-nav .menu > ul > li:hover > a {
    padding-bottom: 10px;
  }
  .header .header-nav .menu ul li a {
    color: #fff !important;
    display: block;
    padding: 10px 20px;
  }
  .header .header-nav .menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3882352941);
    z-index: 1;
    transition: 0.3s ease-in-out;
    transition-property: opacity, visibility;
  }
  .header .header-nav .cart-icon {
    padding: 0 10px;
  }
  .header .header-nav .search-icon {
    padding-left: 10px;
  }
  .header .header-nav input[type=checkbox]:checked ~ .menu {
    translate: 0;
  }
  .header .header-nav input[type=checkbox]:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
}
.footer {
  background: #f2ffec;
  padding-top: 66px;
  padding-bottom: 40px;
}
.footer .footer-inner,
.footer .footer-bottom {
  max-width: 83%;
  margin: 0 auto;
}
.footer .footer-inner::after {
  content: "";
  max-width: 98%;
  margin: 0 auto;
  margin-top: 72.5px;
  display: block;
  height: 1.67px;
  background: #a3a3a3;
}
.footer .footer-inner .footer-item .logo {
  margin-bottom: 24.58px;
}
.footer .footer-inner .footer-item p {
  margin-bottom: 6.67px;
}
.footer .footer-inner .footer-item p.title {
  color: #46b20f;
  margin-bottom: 13px;
  font-weight: 600;
}
.footer .footer-inner .footer-item ul li {
  margin-bottom: 6.67px;
  display: flex;
  flex-wrap: wrap;
}
.footer .footer-inner .footer-item ul li svg {
  flex-basis: 20px;
  margin-right: 10px;
}
.footer .footer-inner .footer-item ul li span {
  flex-basis: calc(100% - 30px);
}
.footer .footer-bottom {
  padding-top: 24.17px;
}
.footer .footer-bottom .socials {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 6.67px;
}
.footer .footer-bottom .socials li a {
  width: 40px;
  height: 40px;
  background: #dcffca;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1199.98px) {
  .footer .footer-inner::after {
    margin-top: 15px;
  }
  .footer .footer-inner .footer-item {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 575.98px) {
  .footer .footer-bottom a {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer .footer-bottom .socials {
    justify-content: center;
    align-items: center;
  }
}
.hero {
  position: relative;
  z-index: 1;
}
.hero .hero-text h1,
.hero .hero-text h2 {
  font-weight: 800;
}
.hero .hero-text h1 {
  font-size: 3.6rem;
}
.hero .hero-text h2 {
  font-size: 4.3rem;
}
.hero .hero-text p {
  max-width: 77%;
}
.hero .hero-image {
  background: #dcffca;
  width: 50vw;
  min-height: 708px;
  padding: 55px 0;
  border-radius: 16.667px 0px 0px 16.667px;
  position: relative;
}
.hero .hero-image span {
  color: #216000;
  font-size: 15.6rem;
  font-weight: 800;
  opacity: 0.15;
  transform: rotate(90deg);
  line-height: 1;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 35px;
}
.hero .hero-image img {
  width: 432px;
  margin-top: 30px;
  margin-left: -80px;
}

@media screen and (max-width: 1399.98px) {
  .hero .hero-image img {
    width: 350px;
    margin-left: -60px;
  }
  .hero .hero-image span {
    font-size: 14rem;
    left: -5%;
  }
}
@media screen and (max-width: 1199.98px) {
  .hero .hero-image span {
    font-size: 10rem;
    left: -20%;
    top: -20%;
  }
}
@media screen and (max-width: 991.98px) {
  .hero .hero-text {
    text-align: center;
    margin-bottom: 20px;
  }
  .hero .hero-text p {
    margin: 0 auto;
    max-width: 80%;
    text-align: justify;
  }
  .hero .hero-image {
    width: 100%;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero .hero-image img {
    width: 380px;
    margin: 0 -50px 0 0;
  }
  .hero .hero-image span {
    position: static;
    font-size: 13rem;
  }
}
@media screen and (max-width: 767.98px) {
  .hero .hero-image {
    text-align: center;
    min-height: auto;
    display: block;
  }
  .hero .hero-image img {
    margin: 0 auto;
    max-width: 70%;
    display: block;
  }
  .hero .hero-image span {
    position: static;
    transform: rotate(0deg);
    font-size: 8rem;
    display: block;
  }
  .hero .hero-image span br {
    display: none;
  }
}
@media screen and (max-width: 575.98px) {
  .hero .hero-image span br {
    display: block;
  }
}
.counter {
  padding: 100px 0;
}
.counter .counter-heading {
  max-width: 53%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 110px;
}
.counter .counter-heading h2 {
  margin-bottom: 24px;
  font-size: 3.1rem;
  line-height: 1.3;
}
.counter .counter-list .counter-item {
  background-color: #fff;
  padding: 33.33px;
  box-shadow: -5.833px 8.333px 72.5px 0px rgba(54, 54, 54, 0.12);
  position: relative;
}
.counter .counter-list .counter-item .counter-icon {
  background-color: #fff0e7;
  padding: 19.17px;
  border-radius: 10px;
  display: inline-block;
}
.counter .counter-list .counter-item span {
  display: block;
}
.counter .counter-list .counter-item span.counter-number {
  padding: 23.33px 0;
  font-size: 4.3rem;
  font-weight: 800;
}
.counter .counter-list [class^=col-]:nth-child(1) .counter-item::before {
  content: "";
  background: #dcffca;
  width: 235px;
  height: 235px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  translate: -50% -50%;
  z-index: -1;
}
.counter .counter-list [class^=col-]:nth-child(2) .counter-item {
  padding-top: 60.83px;
  padding-bottom: 60.83px;
  max-width: 89%;
  margin: 0 auto;
}
.counter .counter-list [class^=col-]:nth-child(2) .counter-item .counter-icon {
  background-color: #f2ffec;
}
.counter .counter-list [class^=col-]:nth-child(3) .counter-item::after {
  content: "";
  background: #ffd5bd;
  width: 235px;
  height: 235px;
  border-radius: 50%;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  translate: 50% 60%;
  z-index: -1;
}

@media screen and (max-width: 991.98px) {
  .counter .counter-heading h2 br {
    display: none;
  }
  .counter .counter-list .counter-item {
    text-align: center;
    margin: 0 auto 20px !important;
    max-width: 80% !important;
    padding: 33.33px !important;
  }
  .counter .counter-list .counter-item::before, .counter .counter-list .counter-item::after {
    display: none !important;
  }
}
.products {
  padding: 64px 0;
}
.products h2 {
  text-align: center;
  font-size: 3.1rem;
  font-weight: 800;
  margin-bottom: 50px;
}
.products .products-list .product-item {
  margin-top: 114px;
  margin-bottom: 96px;
  max-width: 70%;
  text-align: center;
}
.products .products-list .product-item .image {
  position: relative;
}
.products .products-list .product-item .image img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.products .products-list .product-item .image::before {
  content: "";
  display: block;
  background: #ffba94;
  width: 269.316px;
  height: 269.316px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  translate: 0 -40%;
}
.products .products-list .product-item .name {
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 29.48px;
  margin-top: 17.19px;
}
.products .products-list .product-item .name::after {
  content: "";
  display: block;
  width: 40.883px;
  height: 1.667px;
  background: #a3a3a3;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 12.81px;
}
.products .products-list .product-item .quantity {
  color: #656565;
  margin-bottom: 6.33px;
}
.products .products-list .product-item .price {
  margin-bottom: 31px;
}
.products .products-list .product-item .price span {
  font-size: 2.3rem;
  font-weight: 600;
}
.products .products-list [class^=col-]:nth-child(3n+1) .product-item {
  margin-left: auto;
}
.products .products-list [class^=col-]:nth-child(3n+2) .product-item {
  margin-left: auto;
  margin-right: auto;
}
.products .products-list [class^=col-]:nth-child(3n+2) .product-item .image::before {
  background: #c5ffa8;
}

@media screen and (max-width: 991.98px) {
  .products {
    padding: 0 0 30px;
  }
  .products h2 {
    margin: 0 0 20px;
  }
  .products .products-list .product-item {
    max-width: 100%;
    margin: 0 0 15px;
  }
  .products .products-list .product-item .image::before {
    display: none;
  }
}
@media screen and (max-width: 575.98px) {
  .products .products-list .product-item .name,
  .products .products-list .product-item .price span {
    font-size: 1.6rem;
  }
  .products .products-list .product-item .name a {
    max-height: 44px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .products .products-list .product-item .add-to-cart .btn {
    font-size: 1.4rem;
  }
}
.posts {
  padding: 64px 0;
}
.posts .posts-heading {
  max-width: 54%;
  margin: 0 auto;
  text-align: center;
}
.posts .posts-heading h2 {
  margin: 0;
  font-size: 3.1rem;
  font-weight: 800;
}
.posts .posts-heading p {
  margin: 23px 0 28px;
}
.posts .posts-list .post-item .image img {
  border-radius: 6.667px;
}
.posts .posts-list .post-item .meta {
  margin: 16.27px 0 18.67px;
  display: flex;
  justify-content: space-between;
}
.posts .posts-list .post-item .meta li:first-child a {
  color: #46b20f;
  font-size: 1.5rem;
  font-weight: 500;
}
.posts .posts-list .post-item .meta li:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.posts .posts-list .post-item .meta li:last-child span {
  color: #a3a3a3;
  font-weight: 500;
  font-size: 1.5rem;
}
.posts .posts-list .post-item .meta li:last-child svg {
  vertical-align: top;
}
.posts .posts-list .post-item .title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 16.27px;
}
.posts .posts-more {
  text-align: center;
}
.posts .posts-more a {
  margin-top: 79.67px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 991.98px) {
  .posts {
    padding: 30px;
  }
  .posts .posts-heading {
    max-width: 80%;
    text-align: justify;
  }
  .posts .posts-heading h2 {
    text-align: center;
  }
  .posts .posts-more {
    margin-top: 0;
  }
}
@media screen and (max-width: 767.98px) {
  .posts {
    padding: 20px 0;
  }
  .posts .posts-list .post-item {
    margin-bottom: 25px;
  }
  .posts .posts-more a {
    margin-top: 30px;
  }
}
@media screen and (max-width: 575.98px) {
  .posts .posts-list .post-item .image img {
    width: 100%;
  }
}
.feature {
  padding: 36px 0 116px;
  position: relative;
}
.feature::after {
  content: "";
  background: #fff0e7;
  border-radius: 8.333px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50%;
  z-index: -1;
}
.feature .feature-heading {
  text-align: center;
  max-width: 49.8%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.feature .feature-heading h2 {
  font-size: 3.1rem;
  font-weight: 800;
  margin-bottom: 24.33px;
}
.feature .feature-list {
  display: flex;
  justify-content: center;
  column-gap: 25px;
}
.feature .feature-list .feature-item {
  flex-basis: 28%;
  max-width: 28%;
  background: #fff;
  border-radius: 8.333px;
}
.feature .feature-list .feature-item .image {
  margin-bottom: 24.17px;
}
.feature .feature-list .feature-item .image img {
  display: block;
  border-radius: 8.333px;
}
.feature .feature-list .feature-item .info {
  padding: 0 18.33px 5px 27.5px;
}
.feature .feature-list .feature-item .info h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #ff6916;
  margin-bottom: 6.33px;
}

@media screen and (max-width: 1199.98px) {
  .feature {
    padding: 25px 0;
  }
  .feature .feature-heading {
    max-width: 90%;
  }
}
@media screen and (max-width: 767.98px) {
  .feature .feature-list {
    flex-wrap: wrap;
  }
  .feature .feature-list .feature-item {
    flex-basis: calc(50% - 25px);
    max-width: calc(50% - 25px);
    margin-bottom: 25px;
  }
  .feature::after {
    top: 0;
  }
}
@media screen and (max-width: 575.98px) {
  .feature .feature-list .feature-item {
    flex-basis: 100%;
    max-width: 100%;
  }
  .feature .feature-list .image img {
    margin: 0 auto;
    width: 90%;
  }
}
.quality {
  padding: 133px 0;
}
.quality .quality-list .quality-item {
  max-width: 75%;
  margin: 0 auto;
  margin-bottom: 38.83px;
  display: flex;
  column-gap: 15.83px;
}
.quality .quality-list .quality-item h3 {
  margin-bottom: 6.67px;
  font-size: 2rem;
  font-weight: 600;
}
.quality .quality-list .quality-item p {
  font-size: 1.7rem;
  font-family: 500;
}
.quality .quality-list [class^=col-]:nth-child(3n+1) .quality-item {
  margin-left: auto;
  margin-right: initial;
}
.quality .quality-list [class^=col-]:nth-child(3n+3) .quality-item {
  margin-right: auto;
  margin-left: initial;
}

@media screen and (max-width: 1199.98px) {
  .quality .quality-list .quality-item {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
@media screen and (max-width: 991.98px) {
  .quality {
    padding: 70px 0;
  }
}
@media screen and (max-width: 575.98px) {
  .quality .quality .quality-item {
    max-width: 90%;
  }
}
.contact {
  padding-bottom: 101px;
}
.contact .image {
  max-width: 83%;
}
.contact .form {
  margin-top: 55px;
}
.contact .form .form-heading {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 26px;
}
.contact .form .form-group {
  margin-bottom: 22.67px;
}
.contact .form .form-group .form-control {
  width: 100%;
  padding: 13.333px;
  border: 0.833px solid #a3a3a3;
  border-radius: 6.667px;
}
.contact .form .form-group .form-control::placeholder {
  color: #a3a3a3;
}
.contact .form .form-group textarea {
  margin-bottom: 3.38px;
  min-height: 149px;
  font-family: "Inter", sans-serif;
  resize: none;
}
.contact .form .group-row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 22.67px;
}
.contact .form .group-row .form-group {
  flex-grow: 1;
}
.contact .form .form-btn {
  display: flex;
  justify-content: flex-end;
}
.contact .form .form-btn .btn {
  min-width: 128px;
  padding: 13.33px 11.67px;
  font-weight: 700;
  cursor: pointer;
  display: block;
}

@media screen and (max-width: 991.98px) {
  .contact {
    padding-bottom: 30px;
  }
  .contact .form {
    margin-top: 0;
  }
  .contact .form .form-heading {
    text-align: center;
  }
  .contact .form .form-btn {
    display: block;
  }
  .contact .form .form-btn .btn {
    width: 90%;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
